<div class="box">
  <ul class="list">
    <li>
      <div class="content">
        <p>
          <strong>Tipo de Moneda : </strong>
          {{quotation.moneda}}
        </p>
      </div>
    </li>
    <li>
      <div class="content">
        <p>
          <strong>Compra : </strong>
          {{quotation.compra}}
        </p>
      </div>
    </li>
    <li>
      <div class="content">
        <p>
          <strong>Venta : </strong>
          {{quotation.venta}}
        </p>
      </div>
    </li>
    <li>
      <div class="content">
        <p>
          <strong>Fecha de cotizacion : </strong>
          {{quotation.fecha}}
        </p>
      </div>
    </li>
  </ul>

</div>
