<section class="section">
  <div class="box">
    <p class="title">Cotizacion</p>
    <form [formGroup]="quotationForm" (ngSubmit)="getQuotation()">
      <span class="select">
        <select formControlName="currency" [ngClass]="{ 'input is-danger': submitted && f.currency.errors }">
        <option value="">--Seleccionar Moneda--</option>
       <option *ngFor="let i of currency" [value]="i.Id">{{i.Name}}</option>
        </select>
       <div *ngIf="submitted && f.currency.errors" class="help is-danger">
            <div *ngIf="f.currency.errors.required">Moneda es requerida</div>
       </div>
    </span>

      <button class="button is-primary">Submit</button>

    </form>

  </div>
  <br/>
  <br/>
  <div [hidden]="spinner">
    <progress class="progress is-small is-primary" max="100">10%</progress>
  </div>
  <div class="box">
    <app-quotationlist [quotation]="quotationResponse"></app-quotationlist>
  </div>


</section>



